ion-content{
    --background:#F0F4FD;
    
    ion-row ion-label{
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        margin: 0;
    }
}

.red{
    color: red;
}

.green{
    color: green;
}

.share{
    color: #0099cc;
}