<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Reestablecer contraseña</ion-title>
    <p class="subTitle">Enviaremos un link a su correo</p>
  </div>

  <form [formGroup]="myForm" novalidate>
    <div class="ion-padding">
      <ion-text color="danger" *ngIf="message">
        {{message}}
      </ion-text>

      <ion-item>
        <ion-input formControlName="email" label="Correo electrónico:" placeholder="c@c.com" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>

      <div class="link">
        <p>Ya tengo una cuenta, <a [routerLink]="['../login']" >Iniciar sesión.</a></p>
      </div>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 30px;margin-right: 8px;">
        <ion-fab-button (click)="sendLink()" disabled="{{!myForm.value.email}}">
            <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    </div>
  </form>
</ion-content>
